*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
  }

html{
    font-size: 16px;
}

#header{
    padding: 0 4.8rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222, 252, 235);
}

.navbar .navbar-list{
    display: flex;
    gap: 20px;
    list-style: none;
}
#nav-container {
    width: 100%;
    background: linear-gradient(to right, #2c5364, #0f2027);
    position: fixed;
    top: 0;
    z-index: 1001; 
} 

.navbar-list .navbar-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0f2027;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid transparent; 
    padding: 15px; 
    transition: border 0.3s, padding 0.3s; 
}

.navbar-list .navbar-link:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.menu-hamburger{
    display: none;
    position: absolute;
    top: 44px;
    right: 33px;
}

.mobile-menu{
    margin-left: 0;
} 

.navbar-list.show-mobile {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.208);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0px; 
    right: 0;
}

/* Search Pane */
.search-pane {
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1002; 
}



.search-pane input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-pane button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; 
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    .menu-hamburger{
        display: block;
    }

    nav .navbar-list{
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .search-pane{
        top: 13px;
        left: 60%;
    }


}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #2c5364, #0f2027);
}


.carousel{
    width: 100%;
}

.carousel-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.carousel-container a .carousel-item{
    position: absolute;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    background-size: contain;
}

.carousel-container a img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.carousel-item-1 {
    height: 330px;
    width: 230px;
    left: 5%;
    opacity: 1;
    transform: translateX(-50%);
    z-index: 1;
  }
  
.carousel-item-2  {
    height: 350px;
    width: 250px;
    left: 20%;
    opacity: 1;
    transform: translateX(-50%);
    z-index: 2;
  }

.carousel-item-3 {
    left: 35%;
    opacity: 1;
    transform: translateX(-50%);
    height: 370px;
    width: 270px;
    z-index: 3;
  }
  
.carousel-item-4 {
    height: 390px;
    width: 290px;
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.3s);
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    z-index: 4;
  }
  
.carousel-item-5 {
    left: 65%;
    opacity: 1;
    transform: translateX(-50%);
    height: 370px;
    width: 270px;
    z-index: 3;
  }
  
.carousel-item-6 {
    left: 80%;
    opacity: 1;
    transform: translateX(-50%);
    height: 350px;
    width: 250px;
    z-index: 2;
  }
  
 .carousel-item-7 {
    height: 330px;
    width: 230px;
    left: 95%;
    opacity: 1;
    transform: translateX(-50%);
    z-index: 1;
  }

.carousel-item:hover {
    border: 3px solid rgb(222, 252, 235);
    transition: opacity 0.2s ease; 
}

.carousel .carousel-navigation{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel .carousel-navigation .prev, .carousel .carousel-navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(222, 252, 235);
    background-color: rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: 0.6s ease;
} 

.carousel .carousel-navigation .prev:hover, .carousel .carousel-navigation .next:hover{
    background: rgb(108, 129, 2);
}

@media (max-width: 600px) {

    .carousel-container a .carousel-item {
        height: 100%; 
        width: 100%; 
        left: 50%; 
        transform: translateX(-50%);
    }

    .carousel-item-1, .carousel-item-2, .carousel-item-3, .carousel-item-4, .carousel-item-5, .carousel-item-6, .carousel-item-7 {
        height: auto; 
        width: 100%; 
        left: 50%; 
        transform: translateX(-50%);
    }

    .carousel .carousel-navigation {
        top: auto;
        bottom: 10px;
    }
}





